.container {
  margin: 0;
  background: #f2f3f5;
  width: 100vw;
  height: 100vh;
}

.main {
  grid-row-start: 2;
}

.register_title {
  margin-top: 2rem;
  padding: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.8rem;
  color: #1c4e80;
}
.signup_form {
  padding: 1rem;
  border: #0091d5 solid 2px;
  display: grid;
  grid-auto-rows: 2rem;
  grid-row-gap: 0.5rem;
}

.signup_form label {
  font-weight: bold;
}
.signup_form label,
.signup_form input {
  display: block;
  width: 100%;
}

.signup_form input {
  border: 1px solid #ccc;
  padding: 0.2rem 0.5rem;
  font: inherit;
}

.signup_form input:focus {
  outline: none;
  background: #a5d8dd;
  border-color: #202020;
}

.signup_form button {
  display: block;
}

.button {
  background: #0091d5;
  color: white;
  font: inherit;
  font-weight: bold;
  border: 1.5px solid white;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: white;
  color: #0091d5;
  border: 1.5px solid #0091d5;
}

.button:focus {
  outline: none;
}

.button[disabled] {
  cursor: not-allowed;
  border: #a1a1a1;
  background: #ccc;
  color: #a1a1a1;
}

@media (min-width: 40rem) {
  .signup_form {
    margin: auto;
    width: 30rem;
    grid-template-columns: 10rem auto;
    grid-row-gap: 1rem;
    grid-column-gap: 0.5rem;
  }
}
