* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.backdrop {
  position: absolute;

  z-index: 200;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.toggle_button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle_button:focus {
  outline: none;
}

.toggle_button__bar {
  width: 100%;
  height: 0.2rem;
  background: white;
  display: block;
  margin: 0.6rem 0;
}

.navbar_header {
  background: #488a99;
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px 16px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_header__brand {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.main_nav__items {
  display: flex;
}

.main_nav__item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main_nav__item {
  margin: 0 1rem;
}
.main_nav__item a,
.mobile_nav__item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 3px 0;
}

.main_nav__item a:hover,
.main_nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}
.main_nav {
  display: none;
}

.mobile_nav {
  position: fixed;
  z-index: 201;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile_nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile_nav__item {
  margin: 1rem 0;
}

.mobile_nav__item a {
  font-size: 1.5rem;
}

@media (min-width: 40rem) {
  .main_nav {
    display: flex;
  }
  .toggle_button {
    display: none;
  }
}
